.boton {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(../fondos/tex2.png);
  color: chocolate; }

.COLOR {
  background-color: whitesmoke; }

.logo {
  width: 150px; }

.mr {
  margin-right: 60px; }

li a:hover {
  font-weight: bold; }

.frase1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.6rem; }

.frase2 {
  font-family: "MonteCarlo", cursive;
  font-size: 2.5rem; }

.alto {
  height: 500px; }

.video {
  display: flex;
  align-items: center;
  justify-content: center; }

.title {
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem; }

.subtitle {
  font-family: "MonteCarlo", cursive;
  font-size: 1.6rem;
  color: black; }

@media screen and (max-width: 480px) {
  .alto {
    height: 220px; }
  .bb {
    display: none; } }

footer {
  background-color: sandybrown;
  padding: 15px; }
  footer h3 {
    font-family: "Bebas Neue", cursive;
    color: black;
    font-size: 1rem; }

.wapp {
  display: flex;
  align-items: center;
  justify-content: right; }
  .wapp img {
    width: 25px; }

.insta {
  display: flex;
  align-items: center;
  justify-content: left; }
  .insta img {
    width: 25px;
    margin-left: 10px; }
