*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
<<<<<<< HEAD
    background-color: whitesmoke;
    color: #904000;
=======
    background-color:whitesmoke;
    color: chocolate;
>>>>>>> rama1
}