.COLOR{
    background-color: whitesmoke;
    border-bottom: rgb(211, 210, 210) solid 0.05rem;
}
.logo{
    width: 150px;
}
.mr{
    margin-right: 60px;
}
li{
    a{
        &:hover{
            font-weight: bold;
        }
    }
}