.frase1{
    @include frases($letra_cursiva, 4rem)
}
.alto{
    height: 600px;
}
.video{
    @include contenido_flex;
    justify-content: center;
}
.title{
    @include frases($letra_imprenta,1.2rem);
    color: $ct;
}
.subtitle{
    @include frases($letra_cursiva,1.6rem);
    color: $cs;
}
.title2{
    @extend .title;
    color: black;
}
.lbotones{
    @include frases($letra_imprenta,1rem)
}
.exp{
    @include frases($letra_cursiva, 1.2rem);
    color: black;
}
