.frase1{
    @include frases($letra_cursiva,3.3rem)
}
.alto{
    height: 600px;
}
.video{
    @include contenido_flex;
    justify-content: center;
}
.title{
    @include frases($letra_imprenta,1.4rem);
    color: $ct;
}
.subtitle{
    @include frases($letra_cursiva,1.6rem);
    color: $cs;
}
.title2{
    @extend .title;
    color: black;
}
