.frase1{
    @include frases($letra_imprenta,2.6rem)
}
.frase2{
    @include frases($letra_cursiva,2.5rem);
    color: black;
}
.alto{
    height: 500px;
}
.video{
    @include contenido_flex;
    justify-content: center;
}
.title{
    @include frases($letra_imprenta,1.4rem);
    color: $ct;
}
.subtitle{
    @include frases($letra_cursiva,1.6rem);
    color: $cs;
}
.title2{
    @extend .title;
    color: black;
}
