@media screen and (max-width: 480px){
    .alto{
        height: 220px;
    }
    .bb{
        display: none;
    }
    .frase1{
        font-size: 2rem;
    }
    .frase2{
        font-size: 2rem;
    }
}